<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>animals</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
    
<body>
    <h1>Animal Collector</h1>
    <br><br>
    <form action="randomAdd" method="POST">
        <label>Give your animal a name: <input type="text" name="nickname"></label>
		<button type="submit">Give me a random animal!</button>
	</form>
    <p>Welcome to the Animal Collector. Click the button above to add a random animal to your collection</p>
    <p>Click the button below to see a list of all your collected animals</p>
    <a href="/all">List my animals</a>
</body>

</html>