.roboto-h1{
  font-family: "Roboto", sans-serif;
  color: red;
  font-size: 100px;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: lightblue
}